<nav>
  <a routerLink="/">Home</a>
</nav>

<div class="col-sm-12">
  <label class="col-sm-3">Customer Resource address</label> <input #newCustomerResourceHostPort type="text"
                                                                   [(ngModel)]="customerResourceHostPort" required />
</div>
<div class="col-sm-12">
  <button class="btn btn-primary" (click)="setCustomerResourceHostPort(newCustomerResourceHostPort.value)"
          type="submit">Set Customer Resource Address</button>
</div>

